{% extends "base.html" %}

{% block title %}{{ title }} - Desarrollo de Plantilla Base{% endblock title %}

{% block content %}
    <h1 class="mb-4">{{ title }}</h1>
    <p class="fs-5">{{ content }}</p>
    <p>Mi meta en cuanto a la vida profesional futura que me espera es
        convertirme en un licenciado de Marketing, trabajando para alguna empresa local
        o internacional de publicidad, ser el encargado de reuniones,publicidad,hacer negocios
        con empresas y convertirme en un experto o lider en esta area.</p>

    <p>Esto se debe a mis gustos generales que son el diseño,el presentar o mostrar
        algo que me guste o de lo que estoy orgulloso,el ser lider de un equipo o trabajar
        solo y ser el encargado de una tarea importante para apoyar a los demas</p>

    <h2>Mis hobbies favoritos:</h2>
    <ul>
        <li>Escuchar música</li>
        <li>Ver series y películas</li>
        <li>Jugar videojuegos</li>
        <li>Salir a conocer cosas nuevas</li>
        <li>Ir de compras</li>
        <li>Diseñar cualquier tipo de cosa (moda, interiores, agendas, dibujos, formas más efectivas de realizar las cosas, etc.)</li>
            <li>Me encanta escribir</li>
    </ul>
    <h3>Ortega Valtierra Omar Daniel     5D</h3>
{% endblock content %}