{% extends "base.html" %}

{% block title %} - Desarrollo de Plantilla Base{% endblock title %}

{% block content %}
    <h1 class="mb-4">{{ title }}</h1>
    <p class="fs-5">{{ content }}</p>

<h1 class="mt-5 mb-3 bg-dark-subtle">Animales Acuaticos</h1>
    <div class="row">
        <div class="col-md-6 border">
            <div class="row">
            <h2 class="text-center">Pez Payaso</h2>
            <div class="overflow-auto" style="max-height: 250px;">
                <p>
                    El pez payaso es un pequeño pez marino de arrecife del océano Indo-Pacífico, reconocido por sus colores vibrantes y su simbiosis con las anémonas marinas, que le ofrecen protección contra depredadores a cambio de que el pez limpie la anémona y la defienda. Estos peces son omnívoros, cambian de sexo para reproducirse (de macho a hembra), y se comunican con sonidos. La contaminación y la pesca amenazan a estas especies, que son indicadores de la salud de los arrecifes. 
                </p>
                    <ul>
                    <li>Hábitat y Distribución</li>
                    <li>Distribución: Se encuentran en los océanos Índico y Pacífico, desde el Mar Rojo y el golfo Pérsico hasta el oeste de Australia y Japón. </li>
                    <li>Hábitat: Habitan en arrecifes de coral y formaciones rocosas en aguas tropicales poco profundas. </li>
                </ul>
                <ul>
                    <li>Características Físicas y Comportamiento</li>
                    <li>Apariencia: Son pequeños peces de cuerpo robusto y forma ovalada, con colores brillantes como naranjas, rojos o marrones, y rayas blancas bien definidas. </li>
                    <li>Simbiosis con la Anémona: Viven protegidos por una membrana mucosa especial que les permite vivir entre los tentáculos venenosos de la anémona sin ser picados. A cambio, el pez payaso defiende la anémona y la limpia. </li>
                    <li>Hermafroditismo: Nacen como machos y pueden transformarse en hembras de manera irreversible, siendo la hembra la más grande del grupo. </li>
                </ul>
                <ul>
                    <li>Alimentación y Comunicación </li>
                    <li>Dieta: Son omnívoros, alimentándose de algas, zooplancton, crustáceos y gusanos.</li>
                    <li>Comunicación: Emiten sonidos como gruñidos y chasquidos para comunicarse y establecer territorio o atraer a una pareja.</li>
                </ul>
                <ul>
                    <li>Amenazas y Conservación </li>
                    <li>Peligro: La pérdida de su hábitat debido al calentamiento global y la acidificación de los océanos, junto con la pesca descontrolada para el comercio de acuarios, los pone en peligro.</li>
                    <li>Importancia: Son un indicador importante de la salud de los arrecifes de coral.</li>
                </ul>
                
            </div>
            <div class="text-end mb-3"> 
                <img src="/static\img/animales_exoticos/pez payaso.jpeg" class="img-fluid" alt="Imagen de un panda rojo en un árbol" style="max-height: 150px;">
                <img src="/static\img/animales_exoticos/pez payaso.1.jpeg" class="img-fluid" alt="Primer plano de la cara de un panda rojo" style="max-height: 125px;">
            </div>
        </div>
        </div>

        <div class="col-md-6 border">
            <div class="row">
            <h2 class="text-center">Axolote</h2>
            <div class="overflow-auto" style="max-height: 250px;">
                <p>
                        El axolote, o ajolote, es un anfibio neoténico endémico de México, famoso por su habilidad para regenerar extremidades y órganos, así como por mantener características larvales (glandulares y branquias externas) toda su vida. Originario de los lagos del Valle de México, hoy solo sobrevive en el sistema lacustre de Xochimilco, donde está en peligro crítico de extinción debido a la pérdida de su hábitat y la introducción de especies invasoras.                
                </p>
                <ul>
                    <li>Características físicas y biológicas</li>
                    <li>Neotenia: El ajolote es un caso de neotenia, lo que significa que conserva sus rasgos de larva (como las branquias externas con forma de plumas y la cola) en su etapa adulta.</li>
                    <li>Regeneración: Posee una asombrosa capacidad de regeneración, pudiendo reparar huesos, músculos, órganos internos e incluso el cerebro. </li>
                    <li>Apariencia: Pueden ser negros, marrones moteados, o tener variantes de color como blanco con branquias rosadas.</li>
                    <li>Tamaño: Alcanzan hasta 30 cm de longitud, aunque lo normal es que midan entre 15 y 18 cm.</li>
                    <li>Hábitat: Viven en aguas frescas y poco profundas de Xochimilco, donde se resguardan entre la vegetación.</li>
                </ul>
                <ul>
                    <li>Importancia cultural y científica</li>
                    <li>Mitología: Su nombre deriva de la palabra náhuatl "acholotl", que significa "monstruo de agua", y en la mitología azteca se le asociaba con Xólotl, el dios del fuego.</li>
                    <li>Investigación: Sus asombrosas capacidades de regeneración lo convierten en un foco de estudio para la comunidad científica, especialmente para comprender la biología celular y de desarrollo.</li>
                </ul>
                <ul>
                    <li>Situación actual</li>
                    <li>Peligro de extinción: El ajolote está catalogado como una especie en peligro crítico de extinción por la Unión Internacional para la Conservación de la Naturaleza (UICN).</li>
                    <li>Amenazas: Las principales amenazas son la pérdida y contaminación de su hábitat, la introducción de especies invasoras como la tilapia, y la sobreexplotación. </li>
                </ul>
            </div>
            <div class="text-end mb-3"> 
                <img src="/static\img/animales_exoticos/axolote.jpeg" class="img-fluid" alt="Imagen de un guepardo en la sabana" style="max-height: 150px;">
                <img src="/static\img/animales_exoticos/axolote.1.jpeg" class="img-fluid" alt="Primer plano de la cara de un guepardo" style="max-height: 125px;">
            </div>
        </div>
        </div>

    <h1 class="mt-5 mb-3 bg-dark-subtle">Animales Aereos</h1>
    <div class="row">
        <div class="col-md-6 border">
            <div class="row">
            <h2 class="text-center">Quetzal</h2>
            <div class="overflow-auto" style="max-height: 250px;">
                <p>
                    El quetzal es un ave mesoamericana emblemática, conocida por su plumaje verde y rojo brillante, su cola larga y por ser el ave nacional de Guatemala. Habita en bosques nubosos, se alimenta de frutas, insectos y lagartijas, y es un símbolo cultural sagrado desde la época prehispánica. Debido a la pérdida de su hábitat, la especie se encuentra amenazada, lo que motiva esfuerzos de conservación y el estudio de su biología y comportamiento.                 </p>
                <ul>
                    <li>Características Físicas</li>
                    <li>Nombre científico: Pharomachrus mocinno. </li>
                    <li>Plumaje: Los machos son de un verde metálico, con el pecho y el abdomen rojos, y tienen un penacho de plumas en la cabeza y una cola muy larga que puede llegar a medir hasta 1 metro. Las hembras tienen un plumaje más opaco y no desarrollan las largas plumas de la cola. </li>
                    <li>Clasificación: Pertenece a la familia Trogonidae, que incluye aves de plumajes vistosos. </li>
                </ul>
                <ul>
                    <li>Alimentación y Comportamiento</li>
                    <li>Se alimenta principalmente de frutas, como aguacatillos, así como de insectos, lagartijas y caracoles. </li>
                    <li>Reproducción: Las parejas construyen su nido en troncos de árboles podridos o nidos abandonados. Ambos padres cuidan a las crías, alimentándolas con insectos y frutas.  </li>
                    <li>Canto: Su canto es un silbido o grito agudo, con onomatopeyas como "quiau".  </li>
                </ul>
                <ul>
                    <li>Simbolismo: Es un símbolo de identidad nacional para Guatemala y fue venerado por las culturas maya y mexica como una manifestación divina y un elemento asociado a los dioses Quetzalcóatl y Kukulkán. Su nombre proviene del náhuatl quetzalli, que significa "cola de plumas brillantes". </li>
                    <li>Valor prehispánico: Su plumaje era considerado muy valioso y se utilizaba en trajes y ornamentos. Para obtenerlo, los mayas y mexicas capturaban a los quetzales vivos, les cortaban las plumas de la cola y luego los liberaban, para que pudieran recuperarse y volver a crecer. </li>
                    <li>Estado de conservación: El quetzal está amenazado debido a la pérdida de su hábitat por la deforestación de los bosques nubosos.   </li>
                </ul>
            </div>
            <div class="text-end mb-3"> 
                <img src="/static\img/animales_exoticos/quetzal.jpeg" class="img-fluid" alt="Imagen de un panda rojo en un árbol" style="max-height: 150px;">
                <img src="/static\img/animales_exoticos/quetzal.1.jpeg" class="img-fluid" alt="Primer plano de la cara de un panda rojo" style="max-height: 125px;">
            </div>
        </div>
        </div>

        <div class="col-md-6 border">
            <div class="row">
            <h2 class="text-center">Cacatua galerita</h2>
            <div class="overflow-auto" style="max-height: 250px;">
                <p>
                    La cacatúa galerita, o cacatúa de moño amarillo, es una especie de cacatúa grande y blanca con una distintiva cresta amarilla que habita en los bosques de Australia, Nueva Guinea e Indonesia, y ha sido introducida en otros lugares como Puerto Rico. Se la conoce por su naturaleza dócil y social, su capacidad para imitar el habla y su valor como mascota, aunque su alimentación de semillas y frutas puede generar conflictos con los agricultores. Son monógamas y se reproducen anualmente, poniendo de 2 a 3 huevos que ambos padres incuban y cuidan.                 </p>
                <ul>
                    <li>Características Físicas</li>
                    <li>Tamaño: Es una cacatúa grande que puede medir alrededor de 50 cm de largo.</li>
                    <li>Plumaje: Su cuerpo es de color blanco, con tonos amarillentos en la parte inferior de las alas y la cola. </li>
                    <li>Cresta: Posee una gran cresta amarilla de largas plumas, que puede alcanzar hasta 14 centímetros. </li>
                    <li>Pico: Su pico es grande, fuerte y de color gris negruzco.</li>
                    <li>Ojos: Los machos suelen tener ojos casi negros, mientras que las hembras tienen ojos más rojos o marrones, aunque esto es difícil de observar. </li>
                </ul>
                <ul>
                    <li>Distribución y Hábitat</li>
                    <li>Origen: Es nativa de los bosques tropicales y subtropicales de Australia, Papúa Nueva Guinea e Indonesia.</li>
                    <li>Hábitat: Vive en bosques de tierras bajas y zonas de cultivo. </li>
                </ul>
                <ul>
                    <li>Comportamiento y Dieta</li>
                    <li>Social: Son aves sociales que forman parejas duraderas.</li>
                    <li>Inteligencia: Son aves inteligentes, capaces de aprender palabras y hacer deducciones lógicas.</li>
                    <li>Alimentación: Su dieta consiste principalmente en semillas, frutas y frutos secos, que pueden obtener tanto en los árboles como en el suelo. </li>
                </ul>
                <ul>
                    <li>Reproducción</li>
                    <li>Nidos: Construyen nidos en oquedades de árboles.</li>
                    <li>Huevos: Ponen de 2 a 3 huevos blancos.</li>
                    <li>Incubación y crianza: Ambos padres incuban los huevos y alimentan a los polluelos, que abandonan el nido a los 70-75 días, pero permanecen con los padres por un tiempo. </li>
                </ul>
            </div>
            <div class="text-end mb-3"> 
                <img src="/static\img/animales_exoticos/Cacatua galerita.jpeg" class="img-fluid" alt="Imagen de un guepardo en la sabana" style="max-height: 150px;">
                <img src="/static\img/animales_exoticos/Cacatua galerita.1.jpeg" class="img-fluid" alt="Primer plano de la cara de un guepardo" style="max-height: 125px;">
            </div>
        </div>
        </div>

    <h1 class="mt-5 mb-3 bg-dark-subtle">Animales Terrestres</h1>
    <div class="row">
        <div class="col-md-6 border">
            <div class="row">
            <h2 class="text-center">Panda Rojo</h2>
            <div class="overflow-auto" style="max-height: 250px;">
                <p>
                    El panda rojo es un mamífero arbóreo, un poco más grande que un gato doméstico, conocido por su distintivo pelaje rojizo-marrón, una cola larga y peluda con anillos, y las "marcas de lágrima" blancas en su cara. No está estrechamente relacionado con el panda gigante. Habita en los bosques templados de las montañas del Himalaya oriental y el suroeste de China. Es un animal solitario y principalmente crepuscular y nocturno.
                </p>
                <ul>
                    <li>Comportamiento y Hábitat</li>
                    <li>Dieta: Principalmente herbívoro. Se alimenta mayormente de bambú, aunque también consume frutas, bellotas, raíces y huevos. Utiliza un "falso pulgar" (un hueso modificado de la muñeca) para agarrar el bambú.</li>
                    <li>Hábitat: Vive en árboles y se encuentra en altitudes elevadas (entre 2.200 y 4.800 metros) en el este del Himalaya, Nepal, Bután, el norte de Birmania y China.</li>
                    <li>Comportamiento: Es un excelente escalador. Pasa la mayor parte del día durmiendo en las ramas y es más activo al atardecer y al amanecer.</li>
                </ul>
                <ul>
                    <li>Reproducción</li>
                    <li>Gestación y crías: La gestación dura aproximadamente 50 días. La hembra da a luz a una o dos crías, a veces hasta cuatro, en un nido que construye en un árbol hueco. Las crías permanecen con la madre hasta que cumplen alrededor de un año.</li>
                </ul>
                <ul>
                    <li>Estatus de Conservación</li>
                    <li>Especie en peligro: Está clasificado como En Peligro  debido a la pérdida de hábitat por la deforestación y la fragmentación, además de la caza furtiva.</li>
                </ul>
            </div>
            <div class="text-end mb-3"> 
                <img src="/static\img/animales_exoticos/panda rojo.jpg" class="img-fluid" alt="Imagen de un panda rojo en un árbol" style="max-height: 150px;">
                <img src="/static\img/animales_exoticos/panda rojo.1.jpg" class="img-fluid" alt="Primer plano de la cara de un panda rojo" style="max-height: 125px;">
            </div>
        </div>
        </div>

        <div class="col-md-6 border">
            <div class="row">
            <h2 class="text-center">Gueopardo</h2>
            <div class="overflow-auto" style="max-height: 250px;">
                <p>
                    El chita, o guepardo, es el mamífero terrestre más rápido del mundo, un félido atípico que se distingue por su gran velocidad (alcanza entre 95 y 115 km/h en carreras cortas), un corazón grande, un pelaje con manchas únicas, y las características líneas negras en su cara que le ayudan a cazar mejor. Su hábitat principal es África y partes de Irán, y a diferencia de otros felinos, no ruge, sino que emite sonidos como graznidos y gorjeos.
                </p>
                <ul>
                    <li>Comportamiento y Hábitat</li>
                    <li>Cazador eficiente: Caza gracias a su vista y gran velocidad.</li>
                    <li>Dieta: Se alimenta de ungulados como gacelas y otros animales pequeños, controlando las poblaciones de sus presas. </li>
                    <li>Hábitat: Habita en praderas, sabanas, bosques secos y desiertos fragmentados en África y el sur de Irán. </li>
                    <li>Vocalización: No es un felino que ruga; en cambio, gruñe, chilla o gorjea para comunicarse y ronronea. </li>
                </ul>
                <ul>
                    <li>Reproducción</li>
                    <li>Gestación y cachorros: La gestación dura aproximadamente tres meses. La hembra puede dar a luz entre dos y cuatro crías, quienes nacen sin manchas y con una melena que luego pierden.</li>
                    <li>Cuidado maternal: La madre es la única responsable del cuidado de sus cachorros, quienes son vulnerables a depredadores como leones y hienas.</li>
                </ul>
                <ul>
                    <li>Estatus de Conservación</li>
                    <li>Peligro de extinción: Algunas subespecies, como el guepardo asiático, se encuentran en peligro crítico de extinción, con una población muy reducida en Irán.</li>
                </ul>
            </div>
            <div class="text-end mb-3"> 
                <img src="/static\img/animales_exoticos/guepardo.jpg" class="img-fluid" alt="Imagen de un guepardo en la sabana" style="max-height: 150px;">
                <img src="/static\img/animales_exoticos/guepardo.1.jpg" class="img-fluid" alt="Primer plano de la cara de un guepardo" style="max-height: 125px;">
            </div>
        </div>
        </div>
    </div>
{% endblock content %}

PANGOLIN