{% extends "base.html" %}

{% block title %} - Desarrollo de Plantilla Base{% endblock title %}

{% block content %}
    <h1 class="mb-4">{{ title }}</h1>
    <p class="fs-5">{{ content }}</p>

    <h1 class="mt-5 mb-3 bg-dark-subtle">Animales Aéreos</h1>
    <div class="row ">
        <div class="col-md-6 border">
    <h2>El Búho</h2>
    <p>
        Los búhos son aves de presa principalmente **nocturnas** que cazan en la oscuridad. Tienen un sentido de la vista y el oído muy desarrollados, y su rostro plano actúa como un radar. Sus plumas tienen bordes desflecados que les permiten un **vuelo silencioso**. Pueden girar su cabeza hasta 270 grados en ambas direcciones. Son **carnívoros** y su dieta se compone de pequeños mamíferos, insectos, peces, lagartijas y otras aves.
    </p>
    <div class="text-end mb-3 d-flex justify-content-end"> 
        <img src="/static\img/animales_exoticos/buho.jpeg" class="img-fluid me-2" alt="Imagen de un búho" style="max-height: 150px;">
        <img src="/static\img/animales_exoticos/buho.1.jpeg" class="img-fluid" alt="Imagen de un búho" style="max-height: 150px;">
    </div>
    </div>
        <div class="col-md-6 border">
            <h2>El Águila</h2>
            <p>
                Las águilas son grandes aves de presa **diurnas**, destacadas por su fuerza y aguda visión. Son de gran tamaño, como el águila real, que puede tener una envergadura de hasta dos metros y medio. Poseen un pico robusto en forma de gancho y garras fuertes. Su hábitat incluye cortados rocosos de montañas, bosques y praderas. Construyen **nidos grandes** en acantilados o copas de árboles. Son principalmente **carnívoras** y se alimentan de liebres, otros mamíferos pequeños, aves y, a veces, carroña.
            </p>
            <div class="text-end mb-3 d-flex justify-content-end"> 
                <img src="/static\img/animales_exoticos/aguila.jpeg" class="img-fluid" alt="Imagen de un águila" style="max-height: 150px;">
                <img src="/static\img/animales_exoticos/aguila.1.jpeg" class="img-fluid" alt="Imagen de un águila" style="max-height: 150px;">
            </div>
        </div>
    </div>

     <h1 class="mt-5 mb-3 bg-dark-subtle">Animales Terrestres</h1>
    <div class="row">
        <div class="col-md-6 border">
            <div class="row">
            <h2>Panda Rojo</h2>
            <div class="overflow-auto" style="max-height: 250px;">
                <p>
                    El **panda rojo** (*Ailurus fulgens*) es un mamífero arbóreo, un poco más grande que un gato doméstico, conocido por su distintivo pelaje rojizo-marrón, una cola larga y peluda con anillos, y las "marcas de lágrima" blancas en su cara. No está estrechamente relacionado con el panda gigante. Habita en los bosques templados de las montañas del Himalaya oriental y el suroeste de China. Es un animal solitario y principalmente crepuscular y nocturno.
                </p>
                <ul>
                    <li>Comportamiento y Hábitat</li>
                    <li>Dieta: Principalmente herbívoro. Se alimenta mayormente de **bambú**, aunque también consume frutas, bellotas, raíces y huevos. Utiliza un "falso pulgar" (un hueso modificado de la muñeca) para agarrar el bambú.</li>
                    <li>Hábitat: Vive en árboles y se encuentra en altitudes elevadas (entre 2.200 y 4.800 metros) en el este del Himalaya, Nepal, Bután, el norte de Birmania y China.</li>
                    <li>Comportamiento: Es un excelente escalador. Pasa la mayor parte del día durmiendo en las ramas y es más activo al atardecer y al amanecer.</li>
                </ul>
                <ul>
                    <li>Reproducción</li>
                    <li>Gestación y crías: La gestación dura aproximadamente 50 días. La hembra da a luz a una o dos crías, a veces hasta cuatro, en un nido que construye en un árbol hueco. Las crías permanecen con la madre hasta que cumplen alrededor de un año.</li>
                </ul>
                <ul>
                    <li>Estatus de Conservación</li>
                    <li>Especie en peligro: Está clasificado como **En Peligro (EN)** debido a la pérdida de hábitat por la deforestación y la fragmentación, además de la caza furtiva.</li>
                </ul>
            </div>
            <div class="text-end mb-3"> 
                <img src="/static\img/animales_exoticos/panda rojo.jpg" class="img-fluid" alt="Imagen de un panda rojo en un árbol" style="max-height: 150px;">
                <img src="/static\img/animales_exoticos/panda rojo.1.jpg" class="img-fluid" alt="Primer plano de la cara de un panda rojo" style="max-height: 125px;">
            </div>
        </div>
        </div>

        <div class="col-md-6 border">
            <div class="row">
            <h2>Gueopardo</h2>
            <div class="overflow-auto" style="max-height: 250px;">
                <p>
                    El **chita**, o **guepardo** (*Acinonyx jubatus*), es el mamífero terrestre más rápido del mundo, un félido atípico que se distingue por su gran **velocidad** (alcanza entre **95 y 115 km/h** en carreras cortas), un corazón grande, un pelaje con manchas únicas, y las características líneas negras en su cara que le ayudan a cazar mejor. Su hábitat principal es África y partes de Irán, y a diferencia de otros felinos, **no ruge**, sino que emite sonidos como graznidos y gorjeos.
                </p>
                <ul>
                    <li>Comportamiento y Hábitat</li>
                    <li>Cazador eficiente: Caza gracias a su vista y gran velocidad.</li>
                    <li>Dieta: Se alimenta de ungulados como gacelas y otros animales pequeños, controlando las poblaciones de sus presas. </li>
                    <li>Hábitat: Habita en praderas, sabanas, bosques secos y desiertos fragmentados en África y el sur de Irán. </li>
                    <li>Vocalización: No es un felino que ruga; en cambio, gruñe, chilla o gorjea para comunicarse y ronronea. </li>
                </ul>
                <ul>
                    <li>Reproducción</li>
                    <li>Gestación y cachorros: La gestación dura aproximadamente tres meses. La hembra puede dar a luz entre dos y cuatro crías, quienes nacen sin manchas y con una melena que luego pierden.</li>
                    <li>Cuidado maternal: La madre es la única responsable del cuidado de sus cachorros, quienes son vulnerables a depredadores como leones y hienas.</li>
                </ul>
                <ul>
                    <li>Estatus de Conservación</li>
                    <li>Peligro de extinción: Algunas subespecies, como el guepardo asiático, se encuentran en **peligro crítico de extinción**, con una población muy reducida en Irán.</li>
                </ul>
            </div>
            <div class="text-end mb-3"> 
                <img src="/static\img/animales_exoticos/guepardo.jpg" class="img-fluid" alt="Imagen de un guepardo en la sabana" style="max-height: 150px;">
                <img src="/static\img/animales_exoticos/guepardo.1.jpg" class="img-fluid" alt="Primer plano de la cara de un guepardo" style="max-height: 125px;">
            </div>
        </div>
        </div>

    <h1 class="mt-5 mb-3 bg-dark-subtle">Animales Terrestres</h1>
    <div class="row">
        <div class="col-md-6 border">
            <div class="row">
            <h2>Panda Rojo</h2>
            <div class="overflow-auto" style="max-height: 250px;">
                <p>
                    El **panda rojo** (*Ailurus fulgens*) es un mamífero arbóreo, un poco más grande que un gato doméstico, conocido por su distintivo pelaje rojizo-marrón, una cola larga y peluda con anillos, y las "marcas de lágrima" blancas en su cara. No está estrechamente relacionado con el panda gigante. Habita en los bosques templados de las montañas del Himalaya oriental y el suroeste de China. Es un animal solitario y principalmente crepuscular y nocturno.
                </p>
                <ul>
                    <li>Comportamiento y Hábitat</li>
                    <li>Dieta: Principalmente herbívoro. Se alimenta mayormente de **bambú**, aunque también consume frutas, bellotas, raíces y huevos. Utiliza un "falso pulgar" (un hueso modificado de la muñeca) para agarrar el bambú.</li>
                    <li>Hábitat: Vive en árboles y se encuentra en altitudes elevadas (entre 2.200 y 4.800 metros) en el este del Himalaya, Nepal, Bután, el norte de Birmania y China.</li>
                    <li>Comportamiento: Es un excelente escalador. Pasa la mayor parte del día durmiendo en las ramas y es más activo al atardecer y al amanecer.</li>
                </ul>
                <ul>
                    <li>Reproducción</li>
                    <li>Gestación y crías: La gestación dura aproximadamente 50 días. La hembra da a luz a una o dos crías, a veces hasta cuatro, en un nido que construye en un árbol hueco. Las crías permanecen con la madre hasta que cumplen alrededor de un año.</li>
                </ul>
                <ul>
                    <li>Estatus de Conservación</li>
                    <li>Especie en peligro: Está clasificado como **En Peligro (EN)** debido a la pérdida de hábitat por la deforestación y la fragmentación, además de la caza furtiva.</li>
                </ul>
            </div>
            <div class="text-end mb-3"> 
                <img src="/static\img/animales_exoticos/panda rojo.jpg" class="img-fluid" alt="Imagen de un panda rojo en un árbol" style="max-height: 150px;">
                <img src="/static\img/animales_exoticos/panda rojo.1.jpg" class="img-fluid" alt="Primer plano de la cara de un panda rojo" style="max-height: 125px;">
            </div>
        </div>
        </div>

        <div class="col-md-6 border">
            <div class="row">
            <h2>Gueopardo</h2>
            <div class="overflow-auto" style="max-height: 250px;">
                <p>
                    El **chita**, o **guepardo** (*Acinonyx jubatus*), es el mamífero terrestre más rápido del mundo, un félido atípico que se distingue por su gran **velocidad** (alcanza entre **95 y 115 km/h** en carreras cortas), un corazón grande, un pelaje con manchas únicas, y las características líneas negras en su cara que le ayudan a cazar mejor. Su hábitat principal es África y partes de Irán, y a diferencia de otros felinos, **no ruge**, sino que emite sonidos como graznidos y gorjeos.
                </p>
                <ul>
                    <li>Comportamiento y Hábitat</li>
                    <li>Cazador eficiente: Caza gracias a su vista y gran velocidad.</li>
                    <li>Dieta: Se alimenta de ungulados como gacelas y otros animales pequeños, controlando las poblaciones de sus presas. </li>
                    <li>Hábitat: Habita en praderas, sabanas, bosques secos y desiertos fragmentados en África y el sur de Irán. </li>
                    <li>Vocalización: No es un felino que ruga; en cambio, gruñe, chilla o gorjea para comunicarse y ronronea. </li>
                </ul>
                <ul>
                    <li>Reproducción</li>
                    <li>Gestación y cachorros: La gestación dura aproximadamente tres meses. La hembra puede dar a luz entre dos y cuatro crías, quienes nacen sin manchas y con una melena que luego pierden.</li>
                    <li>Cuidado maternal: La madre es la única responsable del cuidado de sus cachorros, quienes son vulnerables a depredadores como leones y hienas.</li>
                </ul>
                <ul>
                    <li>Estatus de Conservación</li>
                    <li>Peligro de extinción: Algunas subespecies, como el guepardo asiático, se encuentran en **peligro crítico de extinción**, con una población muy reducida en Irán.</li>
                </ul>
            </div>
            <div class="text-end mb-3"> 
                <img src="/static\img/animales_exoticos/guepardo.jpg" class="img-fluid" alt="Imagen de un guepardo en la sabana" style="max-height: 150px;">
                <img src="/static\img/animales_exoticos/guepardo.1.jpg" class="img-fluid" alt="Primer plano de la cara de un guepardo" style="max-height: 125px;">
            </div>
        </div>
        </div>
    </div>
{% endblock content %}
QUETZAL
PATO MANDARIN
AXOLOTE
PULPO DUMBO
PANGOLIN