{% extends "base.html" %}

{% block title %}{{ title }} - Mi primer proyecto con plantillas{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>
    <p class="lead">{{ info }}</p>
    
    <hr>
    
    <div class="row text-center mt-4">
            <h2>Bienveidos a esta pagina creada con plantillas de Flask </h2>
            <p>En esta pagina web podras explorar un poco acerca de Animales,Vehiculos Antiguos,las 7 Marravillas del mundo y conocer a el creador de la pagina.</p>
        </div>
    </div>
{% endblock content %}