{% extends "base.html" %}

{% block title %}{{ title }} - Mi primer proyecto con plantillas{% endblock title %}

{% block content %}
    <h1 class="mb-4">{{ title }}</h1>
    <p class="fs-5">{{ content }}</p>
    <h1 class="mt-5 mb-3">Vehiculos Antiguos</h1>
    
    <div> 
        
        <div class="mb-2"> 
            <h2>Toyota</h2>
            <h3>Toyota AA Sedán o Toyoda Modelo AA (1936)</h3>
            <p>
                Toyota comenzó como la división automotriz de la empresa Toyoda Automatic Loom Works. El primer vehículo con un motor propio, el Modelo A1, se lanzó en 1935. Luego, el primer coche de producción en masa fue el **Toyota Modelo AA Sedán** en 1936, fuertemente inspirado en el diseño americano de la época, como el Chrysler Airflow. La compañía se estableció formalmente como **Toyota Motor Co.** en 1937.
            </p>
        </div>
        
        <div>
            <div class="mb-2">
                <img src="/static\img/Toyota AA Sedán o Toyoda Modelo AA.jpg" class="img-fluid border" alt="Toyota AA Sedán o Toyoda Modelo AA" style="max-height: 150px;">
            </div>
            <div>
                <img src="/static\img/Toyota AA Sedán o Toyoda Modelo AA.1.jpg" class="img-fluid border" alt="Toyota AA Sedán o Toyoda Modelo AA (Segunda imagen)" style="max-height: 150px;">
            </div>
        </div>
        
    </div>
    <div class="mb-2"> 
        
        <div class="p-2 w-100 w-lg-75"> 
            <h2>Volkswagen</h2>
            <h3>Escarabajo/Vocho 1938 (Prototipos) / 1945 (Producción en masa) </h3>
            <p>
                El proyecto nació en la Alemania de los años 30 con el objetivo de crear un "coche del pueblo" (Volkswagen). Ferdinand Porsche fue el encargado de su diseño. Los prototipos se fabricaron a partir de 1938. Sin embargo, la producción en masa se retrasó por la Segunda Guerra Mundial y no comenzó realmente hasta después del conflicto, alrededor de 1945, cuando el auto se convirtió en el famoso "Escarabajo" (también conocido como Vocho o Beetle), uno de los vehículos más icónicos y vendidos de la historia.
            </p>
        </div>
        
        <div class="align-items-center">
            <div class="mb-2">
                <img src="/static\img/Volkswagen Vocho Escarabajo.jpg" class="img-fluid border" alt="Volkswagen Escarabajo/Vocho" style="max-height: 150px;">
            </div>
            <div>
                <img src="/static\img/Volkswagen Vocho Escarabajo.1.jpg" class="img-fluid border" alt="Volkswagen Escarabajo/Vocho (Segunda imagen)" style="max-height: 150px;">
            </div>
        </div>
        
    </div>
    <div class="d-flex flex-column flex-lg-row"> 
        
        <div class="p-2 w-100 w-lg-75"> 
            <h2>Hyundai</h2>
            <h3> Hyundai Pony  (1975)  </h3>
            <p>
                Aunque Hyundai Motor Company se fundó en 1967 y produjo bajo licencia el Ford Cortina, su primer vehículo de pasajeros diseñado y fabricado de forma independiente en Corea fue el Hyundai Pony en 1975. Diseñado por el italiano Giorgetto Giugiaro, el Pony fue un hito para Corea del Sur, ya que marcó el inicio de la exportación de automóviles coreanos a mercados internacionales. |
            </p>
        </div>
        
        <div class="p-2 w-100 w-lg-25 d-flex flex-column align-items-center">
            <div class="mb-2">
                <img src="/static\img/Hyundai Pony.jpg" class="img-fluid border" alt="Volkswagen Escarabajo/Vocho" style="max-height: 150px;">
            </div>
            <div>
                <img src="/static\img/Hyundai Pony.1.jpg" class="img-fluid border" alt="Volkswagen Escarabajo/Vocho (Segunda imagen)" style="max-height: 150px;">
            </div>
        </div>
        
    </div>
    {% endblock content %}
| Ford | Ford Modelo A (Primer vehículo vendido) | 1903 | Ford Motor Company vendió su primer vehículo el 23 de julio de 1903. Este fue el Ford Modelo A, un pequeño runabout (coche abierto de dos plazas). Fue el primer coche de producción de la compañía, aunque la fama de Ford vendría unos años más tarde con el revolucionario Modelo T (lanzado en 1908), que fue el que popularizó la línea de ensamblaje móvil. |
| General Motors (GM) | Buick Modelo B (Primer vehículo de la marca fundadora) | 1904 | General Motors no comenzó a fabricar un "modelo GM" directamente en sus inicios, sino que se formó en 1908 como un holding (conglomerado) que agrupó a fabricantes de automóviles ya existentes. La primera marca adquirida y pieza clave de GM fue Buick. El primer vehículo de la marca que fundaría GM fue el Buick Modelo B en 1904. Por lo tanto, el Modelo B es considerado a menudo como el ancestro del gigante GM. |